<html lang="en"><head>

    <meta charset="UTF-8">
        <title></title>

        <!--Bootstrap-->
        <link rel="stylesheet" href="/plugins/bootstrap-4.0.0/css/style.css">

        <!--Bootstrap-->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        

    <body>
        <div class="container">
            <div class="item-1"></div>
            <div class="item-2"></div>
            <div class="item-3"></div>
            <!--<div class="item-4"></div>
            <div class="item-5"></div>-->
        </div>            
    </body>
</html>